.nav{
	position: fixed;
	top: 0; ,left: 0;
	width: 100%; height: 100px;
	font-family: "Avenir";
	z-index: 100;
}


.navBarBackground{
	position: fixed;
	background-color: var(--black);
/*	border-bottom: 2px solid var(--red);
*/	width: 100%;
	height: 100px;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}


.navBar{
	display: flex;
	flex-direction: row;
	background: "";
	width: 100%; height: 100%;
	text-align: center;
	align-items: center;
	transition: 0.4s ease-in-out;
}

.navBar a{
	position: relative;
	width: 25vw;
	font-size: 3vw;
	text-decoration: none;
	color: white;
	transition: all 0.1s ease-in-out;
}

 .navBar h1{
 	position: absolute;
 	display: none;
 	top: 0;
 	width: 100%;
 	font-family: "Abril";
 	font-size: 4.5vw;
 	color: var(--red);
 	opacity: 0;
 	transition: all 1s ease-in-out;
}

.navBar a:hover{
	transform: scale(0.95);
}


 @media (max-width: 700px){
 	.nav{
 		height: 80px;
 	}

 	.navBar a{
 		width: auto;
 		font-size: 5vw;
 		margin-right: 5vw;
 		left: 5vw;
 	}	

  	.navBar h1{
 		display: none;
 	}	

 }






