.nav{
	position: fixed;
	top: 0; ,left: 0;
	width: 100%; height: 100px;
	font-family: "Avenir";
	z-index: 100;
}


.navBarBackground{
	position: fixed;
	background: var(--black);
	width: 100%;
	height: 100px;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}


.navBar{
	display: flex;
	flex-direction: row-reverse;
	background: "";
	width: 100%; height: 100%;
	text-align: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
	user-select: none;
}




.navBar a{
	position: relative;
	width: auto;
	font-size: 3vw;
	text-decoration: none;
	color: var(--cream);
	transition: all 0.4s ease-in-out;
	flex: 0.5;
	user-select: none;
}

.navBar a:hover{
	transform: scale(0.9);
}


 .navBar h1{
 	display: none;
 	position: relative;
 	opacity: 0;
 	width: auto;
 	font-family: "Abril";
 	font-size: 1px;
 	color: var(--red);
 	transition: all 0.4s ease-in-out;
 	flex: 0;
 	user-select: none;
}






 @media (max-width: 700px){
 	.nav ,.navBar ,.navBarBackground{
 		height: 80px;
 		overflow-x: hidden;
 	}


 	.navBar{
 		position: relative;
 		justify-content: space-around;
 	}

 	.navBar a{
 		display: flex;
 		width: auto;
 		font-size: 5vw;
 		flex: none;
 	}	

  	.navBar h1{
 		display: none;
 	}	

 }
